
%p
  %label Name
  %br
  = f.text_field :name

%p
  %label Description
  %br
  = f.text_field :description

%p
  %label Disease
  %br
  = f.collection_select(:disease_id, Disease.find(:all, :order => "name ASC"), :id, :name, {:include_blank => true})

%p
  %label Jurisdiction
  %br
  = f.collection_select(:jurisdiction_id, Jurisdiction.find(:all, :order => "name ASC"), :id, :name, {:include_blank => true})


/ %p
/  %label Status
/  %br
/  = f.collection_select(:status_id, Status.find(:all, :order => "name ASC"), :id, :name, {:include_blank => true})


