
%span{:id => 'group-info'}

%ul{:id => "group-list", :class => "draggableMenu"}
  - for group in groups
    %li
      = group.name
      %small
        %br
        Edit group name
        |
        = show_link "Show questions", "questions", group.questions

= sortable_element 'group-list', :update => 'group-info', :complete => visual_effect(:highlight, 'group-list'), :url => {}