
%h2
  = form.name

  %input{:type => 'hidden', :name => 'cmr_id', :value => params[:cmr_id]}
  %input{:type => 'hidden', :name => 'form_instance_id', :value => form.id }

- for section in form.sections

  %h3
    = section.name

  - for group in section.groups
    - for question in group.questions
      = question.text
      %br
      = draw_investigator_form_element(question, responses)
      %br

%br
