
%h2
  = form.name

- for section in form.sections

  %h3
    = section.name

  - for group in section.groups
    - for question in group.questions
      = question.text
      %br
      - if !question.answer_set.nil?
        - for answer in question.answer_set.answers
          = answer.text
          %br
