
%h2
  = form.name

  %input{:type => 'hidden', :name => 'cmr_id', :value => 1}

- for section in form.sections

  %h3
    = section.name

  - for group in section.groups
    - for question in group.questions
      = question.text
      %br
      = draw_form_element(question)

%br
