

- form_tag(process_form_path) do

  = render :partial => 'forms/investigator_render', :locals => {:form => @form, :responses => @responses}

  %br

  %button{:type => 'submit', :value => 'Submit'}
    Submit

