base:
  # CDC state ID.  For example, Utah is 49.
  cdc_state: '49'
  bi_server_url: http://localhost:18080/pentaho/Home
  support_url: http://connect.csinitiative.com
  # Help url is optional, but can be used to link to custom help documentation.
  #help_url: https://wiki.csinitiative.com/display/tri35/Help
  auth_allow_user_switch: false
  # Displays user switch below footer on mouseover
  auth_allow_user_switch_hidden: false
  # Uncommenting google_api_key will turn on google maps and geocode features, if not using the premier acct.
  google_api_key: ABQIAAAAo4YnME-vPXWNSkpYMt_0oxSVimV7G6dhrQkR9OVUux8Cu6qgXBQnOd8sgchiXpy5cIzq5sf8Ufz4LQ
  # Uncommenting google_client_id will turn on google maps and geocode features, preferred method
  #google_client_id: gme-collabsw
  # Channel indicates the customer or deployment for tracking purposes
  google_channel: developer
  # Only v2 is currently supported
  # google_api_version: 2
  default_admin_uid: trisano_admin # the initial user that has admin privileges
  default_admin_password: changem3!  # must be set when using trisano_auth plugin, otherwise ignored
  default_user_password: changeM3!  # must be set when using trisano_auth plugin, otherwise ignored
  # redis server ip or hostname
  redis_server: localhost
  # used when generating urls in mailings.
  host: "localhost:3000"
  # Configures the mailer.
  mailer:
    ## uncomment smtp block to use an smtp server for mailing
    #smtp:
    #  # Set ip or url of the smtp server
    #  address: localhost
    #  # set the port, if it doesn't run on 25
    #  port: 25
    #  # The HELO domain (the domain you're sending mail from)
    #  domain: mail.from.domain
    #  # The username for authentication
    #  user_name: your_name
    #  # And the password
    #  password: your_password
    #  # The type of authentication. Options are plain, login, or cram_md5
    #  authentication: plain
    #  # enable TLS
    #  enable_starttls_auto: true
    ## uncomment the sendmail block to use a sendmail binary
    #sendmail:
    #  # the path to the sendmail executable
    #  location: /usr/sbin/sendmail
    #  # command line arguments for sendmail
    #  arguments: -i -t


  # Configuration options for HL7 ACK^R01^ACK messages
  hl7:
    # Replace with a valid MSH-6 field
    recv_facility: "CSI Dept. of TriSano, Bureau of Informatics^2.16.840.9.886571.2.99.8^ISO"
    # Processing ID: By default, production and current processing
    processing_id: "P^"

  #timeouts are specified in minutes. Only applicable if you are using the trisano_auth plugin
  trisano_auth:
    login_timeout: 30
    #Default is 3 Days
    password_reset_timeout: 4320

  # Customize the way telephone numbers are displayed and validated
  telephone:
    phone_number: "^(\d{3})-?(\d{4})$"
    phone_number_format: "%s-%s"
    area_code: "^(\d{3})$"
    area_code_format: "(%s)"
    use_area_code: true
    extension: "^(\d{1,6})$"

  # Customize to include country codes
  # use_country_code: true
  # country_code: "^(\d{1,3})$"
  # country_code_format: "+%s"

  # Configure the format of a phone number in custom forms created in formbuilder
  answer:
    phone: "^\d{3}-\d{3}-\d{4}$"

  locale:
    # Configure user locale switching
    allow_switching: true

development:
  inherit: base
  auth_src_env: TRISANO_UID     #must be commented out when using trisano_auth plugin
  auth_allow_user_switch: true  #must be commented out when using trisano_auth plugin

test:
  inherit: base
  auth_src_env: TRISANO_UID     #NEVER comment out when using trisano_auth plugin
  auth_allow_user_switch: true  #NEVER comment out when using trisano_auth plugin
  max_search_results: 50
  mailer: test

feature:
  inherit: test

production:
  inherit: base
  # Use auth_src_header to specify a header carrying UIDs
  # auth_src_header: TRISANO_UID
  locale:
    # Configure user locale switching (off in production, by default)
    allow_switching: false
