%h1 New program

= error_messages_for :program

- form_for(@program) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Create"

= link_to 'Back', programs_path



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>