
%div{:id => "new-value-set-form"}

  %h3
    Add Value Set

  = error_messages_for :value_set_element

  - remote_form_for(value_set_element) do |f|

    = render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Create"
