
%div{ :class => "value-element", :id => "value-element" }

  - fields_for_value_element(value_element)  do |vf|
    = vf.label(:name, "Value")
    = vf.text_field :name

    %br
    %br
    = link_to_function "Remove", "$(this).up('.value-element').remove()"