- if @event.clinicians.empty?
  %b No clinicians have been recorded for this case
- else
  %table{:class => "tabular"}
    %tr
      %th Last Name
      %th First Name
      %th Actions

    - for clinician in @event.clinicians
      - person = clinician.active_secondary_entity.person
      %tr
        %td=person.last_name
        %td=person.first_name
        %td=link_to_remote_redbox("Edit clinician", {:url => edit_cmr_clinician_path(@event, clinician), :method => :get}, :id => "edit-clinician-#{clinician.id}-link")
