t
%fieldset
  %legend Roles
  
  - if @user.role_memberships.size > 0
    %table{ :cellpadding => 3 }
      - for rm in @user.role_memberships
        %tr
          %td
            = rm.role.role_name.capitalize
          %td
            = rm.jurisdiction.places.first.name
  - else
    No roles.