%h1 New user

= error_messages_for :object => [@user, @user.role_memberships]

- form_for(@user) do |f|

  = render :partial => 'form', :locals => { :f => f, :user_data => @user }

  = f.submit "Create"

%br
%br

= link_to 'Back', users_path
