
%h1 
  CMR details: 
  =@cmr.name

%p
  %label Name: 
  =h @cmr.name

= link_to 'Edit', edit_cmr_path(@cmr)
|
= link_to 'Back', cmrs_path

%h1
  Disease Forms

- for form in @forms
  = form.name
  = link_to "Fill in form", {:controller => "forms", :action => "display", :id => form.id, :cmr_id => @cmr.id}
  %br
