-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-unless address.nil?
  %span.subsection-header
    Address
  -current_patient.fields_for(:address, address, :builder => ExtendedFormBuilder) do |address_form|
    -core_element_print :street_number, address_form, :horiz do
      %span.print-label Street number:
      %span.print-value=address.street_number
    -core_element_print :street_name, address_form, :horiz do
      %span.print-label Street name:
      %span.print-value=address.street_name
    -core_element_print :unit_number, address_form, :horiz do
      %span.print-label Unit number:
      %span.print-value=address.unit_number
    -core_element_print :city, address_form, :horiz do
      %span.print-label City
      %span.print-value=address.city
    -core_element_print :state_id, address_form, :horiz do
      %span.print-label State
      %span.print-value=l(address.state)
    -core_element_print :postal_code, address_form, :horiz do
      %span.print-label Zip code:
      %span.print-value=address.postal_code
    -core_element_print :county_id, address_form, :horiz do
      %span.print-label County:
      %span.print-value=l(address.county)
    -core_element_print :district, address_form, :vert do
      %span.print-label District:
      %span.print-value=l(address.district)
