-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.subsection-header
  Demographics
-core_element_print :birth_gender_id, person_form, :horiz do
  %span.print-label Birth gender:
  %span.print-value=person.birth_gender_description
-core_element_print :primary_language_id, person_form, :horiz do
  %span.print-label Primary language:
  %span.print-value=person.primary_language_description
-core_element_print :ethnicity_id, person_form, :vert do
  %span.print-label Ethnicity:
  %span.print-value=person.ethnicity_description
%span.vert
  %span.print-label Race:
  %span.print-value=person.race_description
