-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-if show_telephone.current_phone
  %span.horiz{:style => 'width: 15%'}
    %label
      -if show_telephone.entity_location_type
        =show_telephone.entity_location_type.code_description 
      -else
        Phone
    =h(show_telephone.current_phone.simple_format) 
  %label
    Email
  -unless show_telephone.current_phone.email_address.blank?
    =h(show_telephone.current_phone.email_address)
  -else
    &nbsp;
