*~
TAGS
*#
.#*
.emacs.desktop
*.war
tmp
log
patches*
.stgit*
webapp/db/*.sql
distro/database/trisano_schema.sql
distro/upgrade_db_output.txt
*.dump_obfu
dump
rails
*.swp
distro/config.yml
webapp/config/database.yml
webapp/config/site_config.yml
avr/mdr.*
webrat-*
