*~
TAGS
tags
Vagrantfile
*#
.#*
.emacs.desktop
*.tmproj
.rvmrc
.vagrant
*.war
tmp
log
patches*
.stgit*
distro/database/trisano_schema.sql
distro/upgrade_db_output.txt
*.dump_obfu
dump
*.swp
*.DS_Store*
distro/config.yml
webapp/config/database.yml
webapp/config/site_config.yml
avr/mdr.*
*nbproject*
/webapp/vendor/trisano/*
/webapp/db/development_structure.sql
/webapp/db/names.sql
/install
/webapp/config/deploy
/webapp/public/javascripts/ext
/webapp/public/images/ext
/webapp/.bundle/config
/webapp/unicron-conf.rb
/webapp/unicorn-conf.rb
/webapp/bin/*
.idea
edge-deploy.sh
test-clean.sh
*.log
*.swo
kdhe-test-deploy.sh
prep-clean.sh
