%h2 X-Sentinel Daily Export Report
%br
%br
%p Hello,
%br
%p X-Sentinel Daily Export Report has completed. Please, see the details below:
%p
  Date:
  =@date.to_s
%p
  Events count:
  =@cases.size
%p
  Status:
  =@status
%br
%br
%p Marc Export Client