<fieldset>
  <legend>Disease Investigation
  <span id='investigation_hide' onClick="Element.hide('investigation_form'); Element.hide('investigation_hide'); Element.show('investigation_show'); return false;">[Hide]</span>
  <span id='investigation_show' onClick="Element.show('investigation_form'); Element.hide('investigation_show'); Element.show('investigation_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id ='investigation_form'>
    <h1>FORM GOES HERE</h1>
  </div>
</fieldset>
