<fieldset>
  <legend>Disease Investigation
  <span id='investigation_hide' onClick="Element.hide('investigation_form'); Element.hide('investigation_hide'); Element.show('investigation_show'); return false;">[Hide]</span>
  <span id='investigation_show' onClick="Element.show('investigation_form'); Element.hide('investigation_show'); Element.show('investigation_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id ='investigation_form'>
    <% if @investigation_forms.empty? %>
      <h3>No investigation forms exist for <%#= @event.disease.disease.disease_name %></h3>
    <% else %>
      <script type="text/javascript">
        var formTabs = new YAHOO.widget.TabView("form_tabs");
      </script>
      <div id="form_tabs" class="yui-navset">
        <ul id='tabs' class="yui-nav">
          <% for f in @investigation_forms %>
            <li class="selected"><a href="#form_<%= f.id -%>"><em><%= f.name %></em></a></li>
          <% end %>
        </ul>
        <div class="yui-content">
          <% for f in @investigation_forms %>
            <div id="form_<%= f.id -%>">
              <h3><%= f.description %></h3>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</fieldset>
