%li{:id => "section_#{section.id}"}
  = section.name
  %ul
    - for question_element in section.children
      %li
        = question_element.question.question_text
  %br
  %small
    = link_to_remote "Add a question", :url => { :controller => "questions", :action => "new", :form_element_id => section.id}