
%table{:width => '100%', :cellpadding => '5', :cellspacing => '0'}
  %tr
    %td{:valign=>'top', :nowrap => ''}
      %h3
        Form Hierarchy
      %div{:id => "builder-info"}

      %small
        = link_to_remote("Add a core tab configuration", :url => {:controller => "core_view_elements", :action => "new", :form_id => @form.id}, :method => :get)

      %ul{:id => "root-element-list"}
        = render :partial => 'forms/elements'

    %td{:width => '100%', :align => 'left', :valign => 'top'}
      %div{:id => "builder-mods"}

= link_to "Back to form edit", edit_form_path(@form)

%br
%br

= button_to "Publish", {:action => "publish", :id => @form.id}