
= link_to "Back to form edit", edit_form_path(@form)

%h1
  = @form.name
  Builder

%div{:id => "builder-info"}

- for view in @form.form_base_element.children

  %ul{:id => "section-list"}
    - for section in view.children
      = render :partial => 'forms/section', :object => section

%div{:id => "section-mods"}