- content_for :title do
  Form Builder

- content_for :name do
  Form details:  
  = @form.name

- content_for :tools do
  = link_to 'Edit', edit_form_path(@form)
  |
  = link_to 'Back', forms_path
  |
  = link_to 'Form Builder', builder_path(@form)

%p
  %b Name: 
  =h @form.name

%p
  %b Description: 
  =h @form.description

%p
  %span.label Show for disease: 
  =h @form.disease.disease_name

%p
  %span.label Show for jursidiction: 
  =h @form.jurisdiction.nil? ? "All Jurisdictions" : @form.jurisdiction.current_place.name

%p
  %b Status: 
  =h @form.status

