- content_for :title do
  Admin Console

- content_for :name do
  Dashboard

- content_for :tools do
  = link_to 'Forms', forms_path
  |
  = link_to 'Users', users_path
  |
  = link_to 'Codes', codes_path

%br
%br
%br
