-@event.prepare_perinatal_hep_b_data
-fields_for(@event, :builder => ExtendedFormBuilder) do |e|
  -e.fields_for(:expected_delivery_facility, :builder => ExtendedFormBuilder) do |df|
    -df.fields_for(:expected_delivery_facilities_participation, :builder => ExtendedFormBuilder) do |dfp|
      -core_element_print(:expected_delivery_date, dfp, :vert) do
        %span.print-label= ct(:expected_delivery_date, :scope => [:activerecord, :attributes, :expected_delivery_facilities_participation])
        %span.print-value= ld(dfp.object.expected_delivery_date)
    -df.fields_for(:place_entity, :builder => ExtendedFormBuilder) do |pe|
      -pe.fields_for(:place, :builder => ExtendedFormBuilder) do |p|
        -core_element_print(:name, p, :horiz) do
          %span.print-label= ct(:expected_delivery_facility_name, :scope => :perinatal_hep_b_management)
          %span.print-value= h(p.object.name)
      -pe.fields_for(:telephones, :builder => ExtendedFormBuilder) do |t|
        =print_telephones(t)
