-@event.prepare_perinatal_hep_b_data
#expected_delivery_facility
  =render(:partial => 'events/delivery_data', :locals => {:facility_type => 'expected'})
#actual_delivery_facility
  -fields_for(@event, :builder => ExtendedFormBuilder) do |e|
    -e.fields_for("actual_delivery_facility", :builder => ExtendedFormBuilder) do |df|
      -df.fields_for("actual_delivery_facilities_participation", :builder => ExtendedFormBuilder) do |dfp|
        -core_element_show(:actual_delivery_date, dfp, :vert) do
          =dfp.label(:actual_delivery_date)
          =ld(dfp.object.actual_delivery_date)
  =render(:partial => 'events/delivery_data', :locals => {:facility_type => 'actual'})
#health_care_provider
  =render(:partial => 'events/health_care_provider_data')
