-@event.prepare_perinatal_hep_b_data
=render(:partial => 'events/delivery_data', :locals => { :facility_type => 'expected' })
-fields_for(@event, :builder => ExtendedFormBuilder) do |e|
  -e.fields_for("actual_delivery_facility", :builder => ExtendedFormBuilder) do |df|
    -df.fields_for("actual_delivery_facilities_participation", :builder => ExtendedFormBuilder) do |dfp|
      -core_element_print(:actual_delivery_date, dfp, :horiz) do
        %span.print-label=ct(:actual_delivery_date, :scope => :perinatal_hep_b_management)
        %span.print-value=ld(dfp.object.actual_delivery_date)
=render(:partial => 'events/delivery_data', :locals => { :facility_type => 'actual' })
=render(:partial => 'events/health_care_provider_data')
