
= f.hidden_field :parent_element_id
= f.hidden_field :core_data

%p
  %label Condition
  %br
  = f.text_field :condition

- if (@follow_up_element.core_data)
  %label Core data element
  %br
  - values = {}
  - Event.exposed_attributes.each_pair { |k, v| values[v[:name]] = k }
  = f.select(:core_path, values, {:include_blank => true}) 
