%fieldset.form
  %legend Place Name

  -f.fields_for(:place, :builder => ExtendedFormBuilder) do |p|
    = error_messages_for :object => p.object
    -core_element :name, p, :horiz do
      =p.label(:name)
      =h(p.object.name)
    -core_element :place_type_ids, p, :horiz do
      =p.label(:place_type_ids, 'Types')
      =h(p.object.formatted_place_descriptions)

  -event_form.fields_for(:participations_place, :builder => ExtendedFormBuilder) do |p|
    -core_element :date_of_exposure, p, :horiz do
      =p.label(:date_of_exposure)
      =p.calendar_date_select(:date_of_exposure, :year_range => 5.years.ago..0.years.from_now)
  
