-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-# 
-# This file is part of TriSano.
-# 
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, or 
-# (at your option) any later version.
-# 
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
-# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
-# for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along 
-# with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset.form
  %legend Address
  -if entity_data.entities_location.nil?
    -entity_data.entities_location = {:entity_location_type_id => ExternalCode.unspecified_location_id, :primary_yn_id => ExternalCode.yes_id, :location_type_id => Code.find_by_code_name_and_code_description('locationtype', "Address Location Type").id}
  -f.fields_for(:entities_location, entity_data.entities_location, :builder => ExtendedFormBuilder) do |el|
    =el.hidden_field(:entity_id)
    =el.hidden_field(:entity_location_type_id)
    =el.hidden_field(:primary_yn_id)
    =el.hidden_field(:location_type_id)
  =render :partial => 'locations/address_form', :locals => {:f => f, :address => entity_data.address, :event => event}