%legend 
  Person Information
  %span{:id => 'person_info_hide', :onClick => "Element.hide('person_form'); Element.hide('person_info_hide'); Element.show('person_info_show'); return false;"}
    [Hide]
  %span{:id => 'person_info_show', :onClick => "Element.show('person_form'); Element.hide('person_info_show'); Element.show('person_info_hide'); return false;", :style => "display: none;"}
    [Show]