-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-content_for :title do
  = ct 'form'
  =h "'#{@form.name}'"
  =t 'version'
  =h "#{@form.version}: "
  =t 'short_names'

-content_for :tools do
  =link_to h("< #{t 'Master_Copy'}"), @master_form
  %p

%table.list
  %tr
    %th=t 'version'
    %th=t 'published'
    %th=t 'diseases'
    %th=t 'form_metadata'
    %th
  =render :partial => 'forms/admin_version_info', :locals => {:form => @form}
-form_tag  form_questions_path(@form), :method => :put do
  =error_messages_for 'form', :object => @questions
  %table.list
    %tr
      %th=t 'question'
      %th=t 'data_type'
      %th=t 'short_name'
    -for question in @questions
      =render :partial => 'question_form', :locals => {:question => question}
  =submit_tag t('update')
