
%h1 Dashboard

%span{:id => "mycheckbox" }
  %span{:class => "first-child"}
    %button{:type => "button", :class=> "yuibutton"}
      Test YUI button
 



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("mycheckbox", { type: "checkbox", name: "field1",  value: "somevalue" } );
</script>

