/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: TableStyle; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #e6e6e6; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #e6e6e6; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #e6e6e6; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #e6e6e6; 
	border-spacing-y: 0; 
	border-spacing-x: 0; 
	cell-padding-left: 6px; 
	cell-padding-right: 6px; 
	cell-padding-top: 6px; 
	cell-padding-bottom: 6px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #e6e6e6; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #e6e6e6; 
	color: #003366; 
	background-color: #f0f0f0; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #e6e6e6; 
	background-color: #ffffff; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #e6e6e6; 
	background-color: #f5f5f5; 
	vertical-align: top; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	background-color: #c0c0c0; 
}

 
 
/* Cell Styles: */
 
.TableStyle_TableStyle
{
	border-left-style: solid;
	border-left-color: #e6e6e6;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #e6e6e6;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #e6e6e6;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6px 6px 6px 6px;
}

.TableStyle_TableStyle_Head_0_0
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0 p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowSep_ColSep
{
	background-color: #f0f0f0;
	color: #003366;
	border-bottom-width: 2px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Head_0_0_RowSep_ColSep p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowSep
{
	background-color: #f0f0f0;
	color: #003366;
	border-bottom-width: 2px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0_RowSep p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_ColSep
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Head_0_0_ColSep p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowSep_ColEnd
{
	background-color: #f0f0f0;
	color: #003366;
	border-bottom-width: 2px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0_RowSep_ColEnd p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowEnd
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0_RowEnd p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowEnd_ColSep
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Head_0_0_RowEnd_ColSep p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_RowEnd_ColEnd
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0_RowEnd_ColEnd p
{
	color: #003366;
}

.TableStyle_TableStyle_Head_0_0_ColEnd
{
	background-color: #f0f0f0;
	color: #003366;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Head_0_0_ColEnd p
{
	color: #003366;
}

.TableStyle_TableStyle_Body_0_0
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowSep
{
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #ffffff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_TableStyle_Body_1_0
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0 p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowSep_ColSep
{
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowSep
{
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0_RowSep p
{
	
}

.TableStyle_TableStyle_Body_1_0_ColSep
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_1_0_ColSep p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowSep_ColEnd
{
	vertical-align: top;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowEnd
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0_RowEnd p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowEnd_ColSep
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_TableStyle_Body_1_0_RowEnd_ColEnd
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_TableStyle_Body_1_0_ColEnd
{
	vertical-align: top;
	background-color: #f5f5f5;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Body_1_0_ColEnd p
{
	
}

.TableStyle_TableStyle_Foot_0_0
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0 p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowSep_ColSep
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowSep
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0_RowSep p
{
	
}

.TableStyle_TableStyle_Foot_0_0_ColSep
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Foot_0_0_ColSep p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowSep_ColEnd
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowEnd
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0_RowEnd p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowEnd_ColSep
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #e6e6e6;
	border-right-style: solid;
}

.TableStyle_TableStyle_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_TableStyle_Foot_0_0_RowEnd_ColEnd
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_TableStyle_Foot_0_0_ColEnd
{
	background-color: #c0c0c0;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_TableStyle_Foot_0_0_ColEnd p
{
	
}


