-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

#tasks
  %fieldset.form
    %legend
      Event Tasks

    - unless tasks.empty?
      %table.list        
        %thead
          %tr
            %th Due&nbsp;date
            %th Name
            %th Notes
            %th Category
            %th Priority
            %th Assigned&nbsp;to
        %tbody
          - for task in tasks
            %tr
              %td
                =task.due_date         ? h(task.due_date) : '&nbsp;'
              %td
                =task.name             ? h(task.name) : '&nbsp;'
              %td
                =task.notes            ? h(task.notes) : '&nbsp;'
              %td
                =task.category_name    ? h(task.category_name) : '&nbsp;'
              %td
                =!task.priority.blank? ? h(task.priority.humanize) : '&nbsp;'
              %td
                =!task.user.blank?     ? h(task.user.best_name) : '&nbsp;'

    - else
      No tasks.
