.tabular th {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #d4cbb4;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding: 3px 3px 3px 9px; }

.tabular td {
  border: 1px solid #C1DAD7;
  background: #fff;
  padding: 3px 3px 3px 9px;
  color: #191970; }

.diseaselist {
  border: none;
  border-width: 0px 0px 0px 0px; }

.struck-through {
  text-decoration: line-through; }

.patientname {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.description {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #666;
  letter-spacing: 0px;
  padding: 0px 0px 4px 0px; }

.jurisdiction {
  font-weight: 500;
  color: #333;
  letter-spacing: 0px;
  padding: 0px 0px 3px 0px; }

.status {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #c00;
  letter-spacing: 0px;
  padding: 8px 0px 3px 3px; }

.list-of-forms {
  float: left;
  width: 15%; }
  .list-of-forms > *:first-child {
    font-weight: bold;
    text-align: center; }
