.tabular th {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #d4cbb4;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding: 3px 3px 3px 9px; }

.tabular td {
  border: 1px solid #C1DAD7;
  background: #fff;
  padding: 3px 3px 3px 9px;
  color: #191970; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

.listingforms th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  weight: bold;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding: 3px 3px 3px 9px;
  background-color: #d4cbb4; }
.listingforms td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  weight: light;
  color: #666;
  background: #fff;
  padding: 3px 3px 3px 9px;
  border: dotted;
  border-color: #ccc;
  border-width: 1px 0px 1px 0px;
  vertical-align: top;
  width: 22%; }
.listingforms .forminformation {
  width: 34%; }

.diseaselist {
  border: none;
  border-width: 0px 0px 0px 0px; }

.patientname {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.description {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #666;
  letter-spacing: 0px;
  padding: 0px 0px 4px 0px; }

.jurisdiction {
  font-weight: 500;
  color: #333;
  letter-spacing: 0px;
  padding: 0px 0px 3px 0px; }

.status {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #c00;
  letter-spacing: 0px;
  padding: 8px 0px 3px 0px; }
