.header {
  line-height: 60%;
}

.header .left {
  float: left;
  width: 75%;
}

.header .right {
  float: left;
  width: 25%;
}

.sub-header {
  clear: both;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

.sub-header .left {
  float: left;
  width: 43.5%;
  border: solid 1px;
  padding: 1em;
  margin-bottom: 10px;
}

.sub-header .right {
  float: right;
  width: 43.5%;
  border: solid 1px;
  padding: 1em;
  margin-bottom: 10px;
}

.section-header {
  border: solid 1px;
  font-weight: bold;
  clear: both;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
}

.subsection-header {
  border: solid 1px;
  font-weight: bold;
  clear: both;
  display: block;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
}

.three-valued-row {
  clear: both;
}

.three-valued-row .left {
  width: 33%;
  float: left;
}

.three-valued-row .right {
  width: 33%;
  float: right;
}

.three-valued-row .short {
  width: 20%;
  float: left;
}

.three-valued-row .long {
  width: 40%;
  float: left;
}

.three-valued-row .double {
  width: 66%;
  float: left;
}

.three-valued-row .full {
  float: left;
}

.print-label {
  font-size: 11px;
  font-weight: normal;
}

.print-value {
  font-size: 11px;
  font-weight: bold;
}

.print-section {
  font-size: 12px;
  font-weight: bold;
  border: solid 1px;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 2em;
  border-top-color: #999;
  border-bottom-color: #999;
  border-left-color: #999;
  border-right-color: #999;
}

.print-instructions {
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
}

.brak {
  page-break-before: always;
}

.horiz
{
  display: block;
  float: left;
  margin: 0em 1em 0 0;
}

.vert
{
  display: block;
}

.struck-through
{
    text-decoration: line-through
}
