body {
  background-color: #f9f8f5;
  color: #333;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin: 0px; }

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none; }

#head {
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #090;
  z-index: 800; }

#bar {
  position: fixed;
  top: 68px;
  width: 100%;
  height: 36px;
  background: url(../images/repeat.gif);
  background-repeat: repeat-x;
  z-index: 800; }

#title_area {
  position: fixed;
  top: 104px;
  width: 100%;
  padding-top: 1em;
  background-color: #f9f8f5;
  z-index: 800; }

#main-content {
  position: absolute;
  width: 100%; }

#form-content {
  position: absolute;
  top: 120px;
  width: 100%; }

.left {
  position: absolute;
  align: left;
  text-align: left;
  z-index: 700; }

.right {
  position: relative;
  align: right;
  text-align: right; }

#rot {
  width: 100%;
  float: left;
  margin-right: -220px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }


form {
  margin: 0px; }


.list {
  font-family: Verdana, Arial, Helvetica, sans-serif; }
  .list th {
    font-size: 10px;
    weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 3px 3px 9px;
    background-color: #d4cbb4; }
  .list tr {
    background-color: #fff; }
  .list .roll:hover {
    background-color: #e5e5e5; }
  .list td {
    font-size: 12px;
    weight: light;
    color: #666;
    padding: 3px 3px 3px 9px;
    border: dotted;
    border-color: #ccc;
    border-width: 1px 0px 1px 0px;
    vertical-align: top;
    width: 22%; }

#foot {
  width: 420px;
  padding: 50px 0px 100px 0px; }

.footlogo {
  width: 25px;
  float: left; }

.foottext {
  width: 395px;
  float: left; }
