body {
  background-color: #f9f8f5;
  color: #333;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin: 0px; }

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px; }

#head {
  position: relative;
  height: 68px;
  background-color: #81c348; }

#bar {
  position: relative;
  height: 60px;
  background: url(../images/repeat.gif);
  background-repeat: repeat-x; }

.left {
  position: absolute;
  align: right;
  top: 0px;
  left: 0px;
  z-index: 700; }

.right {
  position: relative;
  align: right;
  text-align: right; }

#rot {
  position: relative;
  height: 30px;
  background-color: #b4dc66; }

#main {
  position: relative; }
  #main .content {
    width: 80%;
    float: left; }
  #main .nav {
    width: 20%;
    background-color: blue;
    color: #ccc;
    float: right; }

#foot {
  position: relative;
  font-size: x-small;
  z-index: 700; }

.tabular td {
  border: 1px solid #C1DAD7;
  background: #fff;
  padding: 3px 3px 3px 9px;
  color: #191970; }

.tabular th {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #C1DAD7;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding: 3px 3px 3px 9px; }



#formbuilder-body {
  width: 95%;
  overflow: auto;
  padding: 10px 0px 0px 0px; }

#fb-inplace-container {
  width: 90%;
  padding: 0px 0px 0px 10px; }

.fb-container {
  padding: 0px 0px 0px 0px;
  overflow: hidden; }

#lib-inplace-container {
  width: 70%; }

.fb-inplace-form {
  width: 200px;
  float: left;
  clear: both; }

#new-view-form {
  padding: 0px 0px 12px 0px; }

#new-section-form {
  padding: 0px 0px 5px 10px; }

#new-group-form {
  padding: 0px 0px 0px 0px;
  width: 200px; }

#new-question-form {
  padding: 0px 0px 0px 0px; }

#new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

.new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

#new-follow-up-form {
  padding: 0px 0px 5px 10px; }

.new-follow-up-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none;
  border: solid; }

#new-value-set-form {
  padding: 0px 0px 5px 18px; }

#library-container {
  float: right;
  padding: 2px 2px 2px 2px; }

#library-header {
  padding: 0px 0px 6px 0px; }

#library-body {
  height: 175px;
  overflow: auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid;
  background: white; }


.scrollable {
  overflow: auto;
  overflow-x: hidden; }

.sortable {
  border-color: #ccc; }

.fb-tab {
  color: #333;
  height: 23px;
  background-color: #4C88BE;
  padding: 0px 0px 0px 10px; }

.fb-tab-children {
  padding: 0px 0px 0px 0px; }

.question {
  color: #0068af;
  padding: 0px 0px 0px 18px; }

.fb-value-set {
  border-color: #ccc;
  color: #f58052;
  padding: 0px 0px 6px 18px; }

.fb-section {
  color: #333;
  background: #8DC3E9;
  padding: 0px 0px 0px 10px; }

.fb-section-children {
  background: #8DC3E9;
  padding: 0px 0px 6px 0px; }

.fb-core-form {
  color: #333;
  height: 23px;
  background-color: #4C88BE;
  padding: 0px 0px 0px 10px; }

.fb-core-form-children {
  padding: 0px 0px 12px 0px; }

.fb-core-field {
  color: #333;
  height: 23px;
  background-color: #4C88BE;
  padding: 0px 0px 0px 10px; }

.fb-core-field-children {
  padding: 0px 0px 12px 0px; }

.fb-before-core-field {
  color: #333;
  height: 23px;
  background-color: #87b8d9;
  padding: 0px 0px 0px 10px; }

.fb-after-core-field {
  color: #333;
  height: 23px;
  background-color: #87b8d9;
  padding: 0px 0px 0px 10px; }

.fb-group {
  color: #093; }


#root-element-list {
  padding: 0px 0px 6px 0px;
  background-color: #fff; }


#core-element-list {
  padding: 0px 0px 20px 0px;
  background-color: #fff; }


#core-field-element-list {
  padding: 0px 0px 20px 0px;
  background-color: #fff; }

#edit-question-form {
  padding: 0px 0px 5px 18px; }


.add-section {
  color: #333; }

.add-question {
  color: #333; }

.add-follow-up {
  color: #333; }

.edit-question {
  color: #333; }

.add-value-set {
  color: #333; }

.follow-up-item {
  color: #999;
  padding: 4px 0px 4px 20px; }

.fb-add-tab {
  color: #333; }

.fb-add-to-library {
  color: #333; }

.fb-edit-value-set {
  color: #333; }

.fb-add-core-tab {
  color: #333; }

.fb-add-core-field {
  color: #333; }

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

li {
  padding: 4px 0px 4px 0px;
  list-style-position: inside;
  list-style-type: none;
  border: dotted;
  border-width: 1px 0px 0px 0px; }
