.areas {
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  color: #9c9;
  padding: 10px 0px 5px 0px;
  letter-spacing: 1px; }
  .areas a {
    color: #fff;
    text-decoration: none; }
    .areas a:hover {
      color: 063;
      text-decoration: underline; }

.user {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase; }

.areas_title {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 0px 0px 5px; }

.tools_ingreenbar {
  font-family: helvetica, arial, sans-serif;
  font-size: 11px;
  color: #ccc;
  padding: 10px 0px 5px 0px;
  letter-spacing: 1px; }
  .tools_ingreenbar a {
    color: #063;
    font-weight: normal;
    text-decoration: none; }
    .tools_ingreenbar a:hover {
      color: 063;
      text-decoration: underline; }
    .tools_ingreenbar a:visited {
      color: #063;
      font-weight: normal; }
    .tools_ingreenbar a:active {
      color: #063;
      font-weight: normal; }

.title2 {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 0px 0px 10px; }

.action1 {
  padding: 7px 0px 0px 0px; }

.action2 {
  padding: 5px 10px 0px 0px; }

.name {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 0px 0px 3px 0px; }

.tools {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #c00;
  padding: 0px 0px 0px 0px; }
  .tools a {
    color: #c00;
    font-weight: bold;
    text-decoration: none; }
    .tools a:hover {
      color: #000;
      font-weight: bold;
      text-decoration: underline; }
    .tools a:visited {
      color: #c00;
      font-weight: bold;
      text-decoration: none; }
    .tools a:active {
      color: #c00;
      font-weight: bold;
      text-decoration: none; }

.tools2 {
  padding: 0px 0px 0px 0px;
  text-align: right; }

h3 {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333;
  text-decoration: underline; }

h4 {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333;
  text-decoration: underline; }

label {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  color: #333; }

.foottext {
  font-family: helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  padding: 0px 0px 0px 0px;
  color: #999; }
  .foottext a {
    color: #999;
    font-weight: bold;
    text-decoration: none; }
    .foottext a:hover {
      color: #090;
      font-weight: bold;
      text-decoration: underline; }
    .foottext a:visited {
      color: #999;
      font-weight: bold;
      text-decoration: none; }
    .foottext a:active {
      color: #090;
      font-weight: bold;
      text-decoration: none; }
