- content_for :title do
  PERMISSION DENIED

= content_tag(:p, reason + ". Please #{link_to('exit', home_path, :style => 'color: white; text-decoration: underline;')}.", :class => 'banner-warning')

-if event
  %b
    Assigned Jurisdiction:
  %br
  = event.primary_jurisdiction.name
  %br
  %br

  %b 
    Jurisdictions with Access:
  - for participation in event.all_jurisdictions
    %br
    = participation.secondary_entity.place.name

  %br


