-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the
-# terms of the GNU Affero General Public License as published by the
-# Free Software Foundation, either version 3 of the License,
-# or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but
-# WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset.form
  %legend Place Exposures

  = h @event.safe_call_chain(:disease, :disease, :place_lead_in)


  - core_element_show :places, event_form, 'vert-break' do

    -if @event.place_child_events.empty?
      %h3 No place exposures have been recorded for this event
    -else
      %table.list
        %tr
          %th Place Name
          %th Place Type
          %th Date of Exposure
          %th

        -@event.place_child_events.each do |pe|
          -place = pe.interested_place.place_entity.place

          - if pe.deleted_at
            - style = {:class => 'struck-through'}
          - else
            - style = {}

          %tr
            %td{style}=h(place.name)
            %td{style}=place.formatted_place_descriptions
            %td{style}=format_date(pe.participations_place.date_of_exposure)
            %td.tools
              = show_and_edit_event_links(pe)
