-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-core_section :treatments_section, f do

  -unless @event.safe_call_chain(:disease_event, :disease, :treatment_lead_in).blank?
    =h @event.disease_event.disease.treatment_lead_in
    %br
    %br

  -core_element(:treatments, f, 'vert-break') do

    -f.fields_for(:interested_party, :builder => ExtendedFormBuilder) do |person_form|

      #treatments

        %ul{ :id => "treatment-list" }
          -person_form.fields_for(:treatments, :builder => ExtendedFormBuilder) do |treatment_form|
            =render :partial => "events/treatment", :locals => { :f => treatment_form }

      %p{ :style => "clear: both;" }
        =add_record_link(person_form, :treatments, t('add_treatment'), :partial => 'events/treatment', :insert => 'treatment-list', :html_id => "add-treatment")

-if @event.supports_encounter_specific_treatments?
  =render :partial => "events/encounter_specific_treatments", :locals => { :event => @event, :f => f }
