.vert-break
  -form_for loinc_code do |f|
    =f.error_messages

    %table.list
      %tr
        %th.forminformation
          Edit LOINC Code

      %tr
        %td
          %span.vert
            =f.label      :loinc_code, 'LOINC code'
            =f.text_field :loinc_code, :size => 20
          %span.horiz
            =f.label      :test_name
            =f.text_field :test_name, :size => 60
          %span.horiz
            =f.label      :scale_id, "Scale"
            =f.select     :scale_id, select_options_loinc_scales
          %span.horiz
            =f.label      :organism_id, "Organism"
            =f.select     :organism_id, select_options_organisms, {:include_blank => true}, :disabled => !loinc_code.can_have_organism?

    %span.vert
      =create_or_update_button loinc_code
