
%form
  %fieldset
    %legend
      Search
    %label Name
    %input{ :type => "text" }
    / %br
    / %label Disease
    / %select
    /   %option Select a disease
    / %label Disease Onset Date
    / %input{ :type => "text" }
    / %br
    / %label Date of Birth
    / %input{ :type => "text" }
    


