%tr
  %th.forminformation
    =t 'current_locale', :scope => trisano_locale_scope
  %th
    =t 'changed_by', :scope => trisano_locale_scope
  %th
    =t 'updated_at', :scope => trisano_locale_scope
  %th
    ='&nbsp;'
