
%div{:id => "new-question-form"}

  %h3
    Add Question

  = error_messages_for :question

  - remote_form_for(question) do |f|

    = render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Create"
