%h1 New form status

= error_messages_for :form_status

- form_for(@form_status) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Create"

= link_to 'Back', form_statuses_path



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>