-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%tr
  %td=h form.version
  %td=h form.created_at.strftime('%B %d, %Y %I:%M %p')
  %td
    -form.diseases.each do |disease|
      =h disease.disease_name
      %br
  %td
    ="Form ID: #{h form.id }"
    %br
    =h pluralize(form.element_count, 'element')
    %br
    =h pluralize(form.question_count, 'question')
    %br
    ="#{h pluralize(form.core_element_count, 'element')} with ties to core fields"
    %br
    =h pluralize(form.cdc_question_count, 'CDC export question')
    %br
    ="Applies to #{h pluralize(form.form_references.size, 'events')}"
    %br
  %td
    =link_to 'Fix short names', edit_form_questions_path(form) unless current_page? edit_form_questions_path(form)
