%div{:class => "large-modal-dialog"}
  %h1 New clinician

  = error_messages_for :clinician

  - fields_for(@clinician, :builder => ExtendedFormBuilder) do |clinician|
    = render :partial => "clinicians/form", :locals => { :f => clinician, :entity_data => @clinician, :event => @event, :rendering_pt => false }

  = submit_to_remote("person-save-button", "Save", :submit => "person_form", :url => cmr_clinicians_path(@event))
  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
