-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the
-# terms of the GNU Affero General Public License as published by the
-# Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but
-# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
-# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
-# for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along 
-# with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-core_section :address_section, f do
  -if event.nil?
    -address_type = :canonical_address
  -else
    -address_type = :address

  -f.fields_for(address_type, :builder => ExtendedFormBuilder) do |a|
    %div.data_address
      %fieldset.vert
        -core_element :street_number, a, :horiz do
          =a.label(:street_number)
          %span.data_street_number
            =a.core_text_field(:street_number, {:size => 10, :maxlength=> 10}, event)
        -core_element :street_name, a, :horiz do
          =a.label(:street_name)
          %span.data_street_name
            =a.core_text_field(:street_name, {:size => 50, :maxlength=> 50}, event)
        -core_element :unit_number, a, :horiz do
          =a.label(:unit_number)
          %span.data_unit_number
            =a.core_text_field(:unit_number, {:size => 20, :maxlength=> 60}, event)

      %fieldset.vert
        -core_element :city, a, :horiz do
          =a.label(:city)
          %span.data_city
            =a.core_text_field(:city, {:size => 30, :maxlength=> 255}, event)
        -core_element :state_id, a, :horiz do
          =a.label(:state)
          %span.data_state
            =a.dropdown_code_field(:state_id, 'state', {:include_blank => true}, {}, event)
        -core_element :county_id, a, :horiz do
          =a.label(:county)
          %span.data_county
            =a.dropdown_code_field(:county_id, 'county', {:include_blank => true}, {}, event)
        -core_element :postal_code, a, :horiz do
          =a.label(:postal_code)
          %span.data_postal_code
            =a.core_text_field(:postal_code, {:size => 7, :maxlength=> 10}, event)
        -core_element :district, a, :horiz do
          =a.label :district
        -address = f.object.send(address_type)
        -if address.county && address.county.jurisdiction
          %span.data_jurisdiction_name
            =h(address.county.jurisdiction.name)

      =render_extensions :address_extension_renderers, :address_form => a

      -if event.is_a?(ContactEvent) && !event.new_record?
        %fieldset.vert
          =button_to_function(t('copy_from_original_patient'), "contact_parent_address('#{copy_address_contact_event_path(@event)}')")
