-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-# 
-# This file is part of TriSano.
-# 
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, or 
-# (at your option) any later version.
-# 
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
-# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
-# for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along 
-# with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-core_section :age_section, f do
  -f.fields_for(:person, :builder => ExtendedFormBuilder) do |p|
    %div.data_age_info
      -core_element :birth_date, p, :horiz do
        =p.label :birth_date
        %span.data_birth_date
          =p.core_calendar_date_select(:birth_date, {:year_range => 100.years.ago..0.years.from_now}, event_form.try(:object) )
      -core_element :approximate_age_no_birthday, p, :horiz do
        =p.label :approximate_age_no_birthday
        %span.data_approximate_age_no_birthday
          -if p.object.birth_date.blank?
            =p.core_text_field(:approximate_age_no_birthday, {:size => 3}, event_form.try(:object))
          -else
            =h(calculate_age(p.object.birth_date).to_s + " years")
      -if event_form
        -core_element :age_at_onset, p, :horiz do
          =event_form.label :age_at_onset
          %span.data_age_at_onset
            =h(event_form.object.age_info)
