-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-# 
-# This file is part of TriSano.
-# 
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, or 
-# (at your option) any later version.
-# 
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
-# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
-# for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along 
-# with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset.form
  %legend Age

  -f.fields_for(:person, :builder => ExtendedFormBuilder) do |p|
    %div.data_age_info
      -core_element :birth_date, p, :horiz do
        =p.label(:birth_data, "Date of Birth")
        %span.data_birth_date=p.core_calendar_date_select(:birth_date, {:year_range => 100.years.ago..0.years.from_now}, event )
      -core_element :approximate_age_no_birthday, p, :horiz do
        =p.label(:approximate_age_no_birthday, "Age")
        %span.data_approximate_age_no_birthday=p.core_text_field(:approximate_age_no_birthday, {:size => 3}, event)
      -if event
        -core_element :age_at_onset, p, :horiz do
          -if @event.errors.on(:age_at_onset)
            .fieldWithErrors
              =p.label(:age_at_onset, 'Age at onset')
          -else
            =p.label(:age_at_onset, 'Age at onset')
          %span.data_age_at_onset=h(@event.age_info)
