-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-# 
-# This file is part of TriSano.
-# 
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, or 
-# (at your option) any later version.
-# 
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
-# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
-# for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along 
-# with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset.form
  %legend=t 'demographics'

  -f.fields_for(:person,  :builder => ExtendedFormBuilder) do |p|
    %div.data_demographics
      -core_element :birth_gender_id, p, :horiz do
        =p.label(:birth_gender_id)
        %span.data_birth_gender=p.dropdown_code_field(:birth_gender_id, 'gender', {}, {}, event)
      -core_element :ethnicity_id, p, :horiz do
        =p.label(:ethnicity_id)
        %span.data_ethnicity=p.dropdown_code_field(:ethnicity_id, 'ethnicity', {}, {}, event)
      -core_element(:race_ids, f, :horiz) do
        =f.label(:race_ids)
        %span.data_race=f.multi_select_code_field(:race_ids, 'race', {}, {})
      -core_element :primary_language_id, p, :horiz do 
        =p.label(:primary_language_id) 
        %span.data_primary_language=p.dropdown_code_field(:primary_language_id, 'language', {}, {}, event)
