-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

#entity_search_results
  %table.list
    %tr
      %th Person Name
      %th Address
      %th Birth Date
      %th Actions
    - @people.each do |person|
      - unless is_person_merge_entity(person)
        - fields_for(person, :builder => ExtendedFormBuilder) do |f|
          - f.fields_for(:person, :builder => ExtendedFormBuilder) do |name_form|
            -# tr must start with data_person for web api
            %tr.data_person.search-active.tabular
              %td
                %span.data_person_id{:style => 'display: none'}=h(person.person_entity.id)
                %span.data_name
                  %span.data_first_name=h(person.first_name)
                  %span.data_middle_name=h(person.middle_name)
                  %span.data_last_name=h(person.last_name)
              %td
                - address = person.person_entity.canonical_address
                - if not address.nil? and not address.new_record?
                  %span.data_address
                    %span.data_street_number=h(address.street_number)
                    %span.data_street_name=h(address.street_name)
                    %span.data_unit_number=h(address.unit_number)
                    - if address.city or address.state or address.postal_code
                      %br
                      %span.data_city=h(address.city)
                      %span.data_state=h(l(address.state))
                      %span.data_postal_code=h(address.postal_code)
              %td
                %span.data_birth_date=h(person.birth_date)
              %td= render_person_actions(person)
  %br
  = will_paginate @people


