-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

.phone
  %div.data_telephone
    - core_element :entity_location_type_id, f, :horiz do
      =f.label :entity_location_type_id
      %span.data_telephone_location_type
        =f.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {})
    - core_element :country_code, f, :horiz do
      -if f.object.use?(:country_code)
        =f.label(:country_code)
        %span.date_country_code
          =f.core_text_field(:country_code, {:size => 3})
    - core_element :area_code, f, :horiz do
      -if f.object.use?(:area_code)
        =f.label(:area_code)
        %span.data_area_code
          =f.core_text_field(:area_code, {:size => 3})
    - core_element :phone_number, f, :horiz do
      =f.label(:phone_number)
      %span.data_phone_number
        =f.core_text_field(:phone_number, {:size => 8})
    - core_element :extension, f, :horiz do
      =f.label(:extension)
      %span.data_extension
        =f.core_text_field(:extension, {:size => 6})

    %span.horiz
      - unless f.object.new_record?
        =f.label :_delete
        %span.data_telephone_delete=f.check_box :_destroy
