-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
- content_for :title do
  =t "people_normal_case"

- content_for :tools_two do
  = button_to(t("create_new_person"), {:action => "new"}, { :method => :get })

- content_for :tools do
  = link_to "&lt; #{t('clear_search_criteria')}", people_path
  %p

=render(:partial => 'people/search_form')
%br
%br

= render_person_management_list
