-# Quick and dirty since "show" is not really part of the app, but I want a direct URL call to work

-# if @event.lab_results.empty?
-#  %h3 No lab results have been recorded for this case
-# else

%h3 Lab Result

%b Lab Result:
=@lab_result.lab_result_text || "Not recorded"
%br

%b Specimen Source:
=l @lab_result.specimen_source || "Not recorded"
%br

%b Collection Date:
=@lab_result.collection_date || "Not recorded"
%br

%b Lab Test Date:
=@lab_result.lab_test_date || "Not recorded"
%br

%b UPHL Lab:
=l @lab_result.tested_at_uphl_yn || "Not recorded"
%br

=link_to_remote_redbox("Edit lab result", {:url => edit_cmr_lab_result_path(@event, @lab_result), :method => :get}, :id => "edit-lab-result-#{@lab_result.id}-link")
