.search-active td {
  border: 1px solid #C1DAD7;
  background: #fff;
  padding: 3px 3px 3px 9px;
  color: #191970; }

.search-inactive td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px;
  color: #191970;
  text-decoration: line-through; }

.task-pending td {
  border: 1px solid #C1DAD7;
  padding: 3px 3px 3px 9px; }

.task-complete td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px; }

.task-not-applicable td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px; }

.list-of-forms {
  float: left;
  width: 15%;
  text-align: left; }
  .list-of-forms > *:first-child {
    font-weight: bold;
    text-align: center; }

.diseaselist {
  border: none;
  border-width: 0px 0px 0px 0px; }

#formbuilder-body {
  padding: 0px 20px 0px 0px;
  margin-right: 220px; }

#sidebar {
  width: 215px;
  float: right;
  padding: 0px 5px 0px 0px; }

.tab {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  letter-spacing: 0px;
  color: #000; }

.actions {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: #666; }
  .actions a {
    color: #666; }
    .actions a:hover {
      color: #c00; }

.section {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  padding: 4px 0px 0px 8px; }

.instructions {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  padding: 4px 0px 0px 8px; }

.field {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #36c; }

.followup {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  padding: 2px 0px 0px 8px; }

.valueset {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c00; }

.group {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  padding: 4px 0px 0px 8px; }

.question {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666; }
  .question li {
    margin: 0px 0px 8px 0px;
    padding: 4px 8px 4px 8px; }
  .question .label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #36c; }
  .question .actions {
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #69c; }
    .question .actions a {
      color: #69c; }
      .question .actions a:hover {
        color: #036; }

#button {
  border: 0;
  cursor: pointer;
  text-align: center;
  padding: 7px 7px 7px 3px; }
  #button span {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 0 0 0 10px;
    font-family: helvetica, sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #ccc; }
    #button span a {
      font-size: 10px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none; }
      #button span a:hover {
        color: #c00; }

.press {
  display: inline-block;
  background: url('../images/btn_right.png') right no-repeat; }
  .press span {
    height: 20px;
    line-height: 20px;
    background: url('../images/btn_left.png') left no-repeat; }
  .press:hover {
    background: url('../images/btn_right_hover.png') right no-repeat; }
    .press:hover span {
      background: url('../images/btn_left_hover.png') left no-repeat; }

.form_button {
  font-size: 12px;
  background: #D4CBB4; }

.horizontal {
  overflow: auto; }
  .horizontal li {
    float: left; }


.vertical {
  background: #EFEFEF;
  padding: 8px 8px 5px 7px;
  overflow: auto; }
  .vertical li {
    float: left;
    width: 206px; }
    .vertical li a {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #666;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 0px 6px 10px;
      display: block;
      width: 190px;
      height: 18px;
      background: transparent url('../images/button.png') no-repeat scroll 0 0; }
      .vertical li a:hover {
        background-position: -200px 0;
        color: #fff; }
  .vertical .verticalinfo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 0px;
    text-align: right; }
    .vertical .verticalinfo a {
      color: #999;
      display: inline;
      width: 0px;
      height: 0px; }
      .vertical .verticalinfo a:hover {
        color: #c00; }

.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }





#root-element-list {
  margin: 8px 0px; }
  #root-element-list ul {
    margin: 0px 0px 8px 0px; }
  #root-element-list li {
    padding: 0px 5px; }

#core-element-list {
  margin: 8px 0px; }
  #core-element-list ul {
    margin: 0px 0px 8px 0px; }
  #core-element-list li {
    padding: 0px 8px; }

#core-field-element-list {
  margin: 8px 0px; }
  #core-field-element-list ul {
    margin: 0px 0px 8px 0px; }
  #core-field-element-list li {
    padding: 0px 8px; }

#library-admin {
  padding: 0px 0px 0px 0px;
  line-height: 10px; }
  #library-admin ul {
    padding: 0px 0px 0px 0px; }
  #library-admin li {
    padding: 0px 0px 0px 0px; }

#detail-container {
  line-height: 15px; }
  #detail-container a {
    color: #999;
    display: inline;
    width: 0px;
    height: 0px; }
    #detail-container a:hover {
      color: #c00; }

#library-admin-container {
  line-height: 15px; }
  #library-admin-container a {
    color: #999;
    display: inline;
    width: 0px;
    height: 0px; }
    #library-admin-container a:hover {
      color: #c00; }

.library-admin-item {
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #666; }



.add-section {
  color: #333; }

.add-question {
  color: #333; }

.add-follow-up {
  color: #333; }

.delete-view {
  color: #333; }

.edit-question {
  color: #333; }

.edit-follow-up {
  color: #333; }

.add-value-set {
  color: #333; }

#fb-inplace-container {
  width: 90%;
  padding: 0px 0px 0px 10px; }

.fb-container {
  padding: 0px 0px 0px 0px;
  overflow: hidden; }

#lib-inplace-container {
  width: 70%; }

.fb-inplace-form {
  width: 200px;
  float: left;
  clear: both; }

#new-section-form {
  padding: 0px 0px 5px 10px; }

#new-group-form {
  padding: 0px 0px 0px 0px;
  width: 200px; }

#new-question-form {
  padding: 0px 0px 0px 0px; }

#new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

.new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

#new-follow-up-form {
  padding: 0px 0px 5px 10px; }

.new-follow-up-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none;
  border: solid; }

#new-value-set-form {
  padding: 0px 0px 5px 18px; }

#library-container {
  float: right;
  padding: 2px 2px 2px 2px; }

#library-header {
  padding: 0px 0px 6px 0px; }

#library-body {
  height: 175px;
  width: 275px;
  overflow: auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid;
  background: white; }


.scrollable {
  overflow: auto;
  overflow-x: hidden; }

.fb-tab {
  background-color: #d3d3d3; }
  .fb-tab ul {
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px; }

.fb-tab-children {
  background-color: #fff; }
  .fb-tab-children ul {
    margin: 0px 0px 8px 0px; }
  .fb-tab-children li {
    border: dotted;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc; }

.fb-section {
  color: #333;
  background: #c0c0c0; }

.fb-section-children li {
  border-width: 0px 0px 0px 0px; }

.fb-question-children li {
  border-width: 0px 0px 0px 0px; }

.fb-value-set {
  color: #666;
  background: #fff; }
  .fb-value-set ul {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #c00; }
  .fb-value-set li {
    border-width: 0px 0px 0px 0px; }

.fb-cdc-value-set {
  color: #666;
  background: #fff; }
  .fb-cdc-value-set ul {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #E7E01E; }
  .fb-cdc-value-set li {
    border-width: 0px 0px 0px 0px; }

.fb-value-set-children li {
  border-width: 0px 0px 0px 0px; }

.follow-up-item {
  color: #666;
  background: #EFEFEF; }

.fb-follow-up-children li {
  border-width: 0px 0px 0px 0px; }

.fb-core-form {
  color: #333; }

.fb-core-form-children {
  background-color: #fff; }
  .fb-core-form-children li {
    border-color: #ccc;
    border: dotted;
    border-width: 0px 0px 1px 0px; }

.fb-core-field {
  background-color: #d3d3d3; }

.fb-core-field-children {
  background-color: #fff; }
  .fb-core-field-children li {
    border: dotted;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc; }

.fb-before-core-field {
  background-color: #fff; }
  .fb-before-core-field li {
    border-width: 0px 0px 0px 0px; }

.fb-after-core-field {
  background-color: #fff; }
  .fb-after-core-field li {
    border-width: 0px 0px 0px 0px; }

/.fb-group {
  color: #093; }

.fb-core-code-item {
  background-color: #87b8d9; }

#edit-question-form {
  padding: 0px 0px 5px 18px; }







ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

ul.with_bullets li {
  padding-left: 20px;
  margin: 8px;
  background: url(../images/bullet.gif) no-repeat; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 20px; }

input.submit {
  clear: both; }



div.uploadStatus {
  margin: 5px; }

div.progressBar {
  margin: 5px; }

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%; }

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%; }

.inactive-value {
  color: #999; }

.inactive-question {
  color: #999; }

#flash-message {
  text-align: center; }

.notice-message {
  color: green; }

.error-message {
  color: red; }

.banner-warning {
  text-align: center;
  background: #FF4500;
  font-size: 15px;
  font-weight: medium;
  color: white;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px; }

.investigator-form-title {
  font-size: 15px;
  font-weight: medium;
  display: block;
  text-align: left; }

.modal-dialog {
  width: 65%;
  height: 225px;
  position: absolute;
  top: 75px;
  left: 15%;
  background: #edf5ff;
  border: solid 3px;
  padding: 10px;
  text-align: left; }

.large-modal-dialog {
  width: 65%;
  height: 300px;
  position: absolute;
  top: 25px;
  left: 15%;
  background: #edf5ff;
  border: solid 3px;
  padding: 10px;
  text-align: left; }

form.inplaceeditor-form input[type="submit"] {
  margin-left: 1em; }

form.inplaceeditor-form a {
  margin-left: 1em; }

.search_group {
  border: 1px solid #C1DAD7;
  background-color: #eee;
  -moz-border-radius: 1em;
  margin: 1em;
  padding: 1em; }

.staged-message-form .hl7-input {
  margin: 2px 0px; }
  .staged-message-form .hl7-input #hl7-text-input {
    height: 10em;
    width: 50em; }
.staged-message-form .templates {
  display: none; }

.staged-message {
  margin-right: 1em;
  padding-left: 2px;
  padding-right: 2px; }
  .staged-message .batch-link {
    display: block;
    font-size: 0.8em; }
  .staged-message .specimen {
    float: left;
    clear: left;
    background: #EEEEEE;
    width: 17%; }
    .staged-message .specimen p {
      margin-top: 1px;
      margin-bottom: 1px; }
    .staged-message .specimen p + * {
      text-indent: 1em; }
  .staged-message .results {
    display: inline-block;
    width: 81%; }
    .staged-message .results table {
      table-layout: fixed; }
      .staged-message .results table th {
        text-align: left; }
  .staged-message .footer {
    clear: both;
    padding-top: 1em; }
  .staged-message .raw-message {
    clear: both;
    position: relative;
    border: solid 1px;
    padding: 3px;
    margin: 3px;
    left: 10%;
    width: 80%; }

.hoverable b span {
  display: none; }
.hoverable b:hover span {
  display: block;
  position: absolute;
  border: solid 1px;
  margin: 1em;
  padding: 1em;
  background: white; }

.search_results {
  table-layout: fixed; }
  .search_results thead tr th {
    text-align: left; }
  .search_results tbody td {
    border: 1px solid #C1DAD7;
    color: #191970;
    padding: 3px 3px 3px 9px; }
    .search_results tbody td .event_type {
      font-size: x-small; }

.autocomplete {
  position: absolute;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0;
  padding: 0; }
  .autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .autocomplete ul li.selected {
      background-color: #ffb; }
    .autocomplete ul li {
      list-style-type: none;
      display: block;
      margin: 0;
      padding: 2px;
      height: 32px;
      cursor: pointer; }
      .autocomplete ul li .informal {
        display: block;
        text-indent: 3px; }
#event_settings_form {
    width: 400px;
}