-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%tr
  %td.forminformation
    .formname
      = h(disease.disease_name)

    %span{ :class => "horiz" }
      %b
        Status
      %br
      = disease.active? ? 'Active' :  'Inactive'

    %span{ :class => "horiz" }
      %b
        CDC/NETSS code
      %br
      = h(disease.cdc_code)

    %span{ :class => "horiz" }
      %b
        Sent to CDC when event status is:
      %br
      = h(disease.external_codes.collect { |ex_code| ex_code.code_description }.join(', '))

  %td
    .tools
      =link_to_unless_current 'Edit', edit_disease_path(disease)
      |
      =link_to_unless_current 'Show', disease
