-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset.form
  %legend=t('address')
  -f.fields_for(:address, :builder => ExtendedFormBuilder) do |address_form|
    -core_element_show :street_number, address_form, :horiz do
      =address_form.label(:street_number)
      =h(address_form.object.street_number)
    -core_element_show :street_name, address_form, :horiz do
      =address_form.label(:street_name)
      =h(address_form.object.street_name)
    -core_element_show :unit_number, address_form, :horiz do
      =address_form.label(:unit_number)
      =h(address_form.object.unit_number)
    -core_element_show :city, address_form, :horiz do
      =address_form.label(:city)
      =h(address_form.object.city)
    -core_element_show :state_id, address_form, :horiz do
      =address_form.label(:state)
      =l(address_form.object.state)
    -core_element_show :postal_code, address_form, :horiz do
      =address_form.label(:postal_code, t('zip'))
      =h(address_form.object.postal_code)
    -core_element_show :county_id, address_form, :horiz do
      =address_form.label(:county)
      =l(address_form.object.county)
    -core_element_show :district, address_form, :horiz do
      =address_form.label(:district)
      =l(address_form.object.district)

    =render_extensions :address_extension_renderers, :address_form => address_form, :read_only_address => address_form.object
