<h1>New answer_set</h1>

<%= error_messages_for :answer_set %>

<% form_for(@answer_set) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', answer_sets_path %>
