%h1 New answer set

= error_messages_for :answer_set

- form_for(@answer_set) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Create"

= link_to 'Back', answer_sets_path

<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>