body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-line-height: 18px;
  background-color: #fff;
  margin: 0 auto; }

#hd {
  height: 73px;
  background: url(../../images/repeat.gif);
  background-repeat: repeat-x; }


#nav {
  margin-top: 17px;
  text-align: right;
  line-height: 20px;
  letter-spacing: 1px; }
  #nav .user {
    font-size: 14px;
    color: #fff; }
  #nav .area {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px; }
    #nav .area a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      #nav .area a:hover {
        color: #fff;
        text-decoration: underline; }
      #nav .area a:visited {
        color: #fff;
        font-weight: normal; }
      #nav .area a:active {
        color: #fff;
        font-weight: normal; }

#main {
  margin-top: 10px;
  letter-spacing: 1px; }
  #main .title {
    font-size: 14px;
    font-weight: light;
    color: #666;
    padding: 5px 0px 12px 0px; }
  #main .tools {
    padding: 5px 0px 12px 0px;
    text-align: right; }
  #main .fill {
    font-family: arial;
    font-size: 12px;
    padding: 20px 20px 20px 20px; }
    #main .fill a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      #main .fill a:hover {
        color: #fff;
        text-decoration: underline; }
      #main .fill a:visited {
        color: #fff;
        font-weight: normal; }
      #main .fill a:active {
        color: #fff;
        font-weight: normal; }
  #main #ft {
    font-size: x-small; }
