-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-form_tag nil, :method => :get do
  %div#name_criteria{:style => "margin-top: 5px"}
    %div{ :class => "horiz" }
      =label_tag(:name, t('place_name'))
      =text_field_tag(:name, @search_form.name, :size => "30", :class => "search")
      =label_tag(:place_type, t(:place_type))
      =select_tag(:place_type, options_for_select(@search_form.search_type_options, :selected => @search_form.place_type))
      =submit_tag(t(:search_button), :id => :submit_place_search, :name => nil)

%br{ :clear => 'all' }
%br
