-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Place Management

- form_tag(places_path, :method => :get) do

  %div#name_criteria{:style => "margin-top: 5px"}
    %div{ :class => "horiz" }
      %label Place name
      = text_field_tag :name, params[:name], :size => "30", :class => "search"
      %label Participation type
      %select{ :name => "participation_type" }
        %option
        = options_for_select([["Diagnostic Facility", "DiagnosticFacility"], ["Hospitalization Facility", "HospitalizationFacility"], ["Lab", "Lab"], ["Place Exposure", "InterestedPlace"], ["Reporting Agency", "ReportingAgency"]], :selected => params[:participation_type])

      = render_merge_hidden_fields

      %input{ :type => "submit", :id => 'submit_place_search', :value => "Search" }

%br{ :clear => 'all' }
%br

= render_place_management_list


  
