label {
  font-weight: bold;
  white-space: nowrap;
}

fieldset {
    border-width: 1 px;
    border:2px solid #ededed;
    padding: 15px;
    -moz-border-radius: 8px; border-radius: px;
}

legend {
}


ul {
  list-style-type: none; color: #fff;
}



.hd {
  height: 36px;
  color: #B9B9A0;
  background-color: #3B3D9E;
  padding-left: 5px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFB30F;
  -moz-border-radius: 4px; border-radius: px;
}

.bd {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  overflow: auto;
  position: relative;
}

.highlight {
  color: green;
}

#ft {
  height: 16px;
  color: #B9B9A0;
  background-color: #3B3D9E;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #FFB30F;
  overflow: auto;
  position: relative;
  font-size: x-small;
  -moz-border-radius: 4px; border-radius: px;
}

.title A:link {text-decoration: none; color: #B9B9A0}
.title A:visited {text-decoration: none; color: #B9B9A0}
.title A:active {text-decoration: none; color: #B9B9A0}
.title A:hover {text-decoration: none; color: #B9B9A0}
