%p= t('trisano_auth.reset_explanation', :user => h("#{@user.first_name} #{@user.user_name}"), :expiry => Time.now + config_options[:trisano_auth][:password_reset_timeout].minutes)
%p
  = edit_password_reset_url(@user.perishable_token)
