%div{:id => "form_children"}
  - for element in @form.investigator_view_elements_container.children
    = render_element element
= sortable_element("form_children", :url => { :action => 'order_section_children', :id => @form.investigator_view_elements_container.id})
