-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%div{:id => 'library-admin-container'}
  %b Library Administration
  &nbsp;&nbsp;
  
  = link_to_remote("Questions", :url => {:controller => "forms", :action => "library_admin", :type => "question_element"}, :method => :get, :html => {:id => 'fb-open-library-admin'})
  &nbsp;&nbsp;
  = link_to_remote("Value sets", :url => {:controller => "forms", :action => "library_admin", :type => "value_set_element"}, :method => :get, :html => {:id => 'fb-open-library-admin'})
  &nbsp;&nbsp;
  = link_to_function "Close", "Effect.BlindUp($('library-admin-container'), { duration: 0.1 })", :id => 'fb-close-library-admin'
  &nbsp;&nbsp;

  %br

  = render_library_admin(@type)