-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-# Quick and dirty since "show" is not really part of the app, but I want a direct URL call to work

%h3 Treatment

%b Treatment Given:
=l @participations_treatment.treatment_given_yn || "Not recorded"
%br
%br

%b Treatment:
=@participations_treatment.treatment
%br

=link_to_remote_redbox("Edit treatment", {:url => edit_cmr_treatment_path(@event, @participations_treatment), :method => :get}, :id => "edit-treatment-#{@participations_treatment.id}-link")
