-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Jurisdiction Management

- content_for :tools_two do
  = button_to("Create new jurisdiction", {:action => "new"}, { :method => :get })

#jurisdictions
  %table.list
    %tr
      %th.forminformation
        Jurisdictions
      %th
    - @jurisdictions.each do |jurisdiction|
      %tr.roll
        %td.forminformation
          %fieldset
            %div.data_jurisdiction
              %span.data_jurisdiction_id{:style => 'display: none'}=h(jurisdiction.id)
              %div.data_name
                %div.formname
                  %b
                    %span.data_jurisdiction_name=h(jurisdiction.place.name)
                %div.tools
                  %span.data_jurisdiction_short_name=h(jurisdiction.place.short_name)
        %td
          .tools{:style => "position: absolute; right: 50px;"}
            =link_to("Edit", edit_jurisdiction_path(jurisdiction))
            |
            =link_to("Show", jurisdiction_path(jurisdiction))

