%span.vert-break
  =code_form.label :code_description
  = code_form.text_field :code_description, :size => 50
%span.vert-break
  =code_form.label :sort_order
  = code_form.text_field :sort_order, :size => 5
