%h1
  UT-NEDSS Home

= link_to 'Confidential Morbidity Reports', cmrs_path

%br

= link_to 'People', entities_path(:type => 'person')

%br

%h2
  Search

%ul
  %li
    = link_to 'People Search', :controller => "search", :action => "people"
  %li
    = link_to 'CMR Search', :controller => "search", :action => "cmrs"
