-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

&nbsp;&nbsp;&nbsp;
= link_to_remote(t('all'), { :url => { :controller => "event_notes", :action => "index", :event_id => @event.id, :mode => mode }, :method => :get }, { :id => 'all-notes' } )
&nbsp;|&nbsp;
= link_to_remote(t('administrative'), { :url => { :controller => "event_notes", :action => "index", :event_id => @event.id, :note_type => 'administrative, brief', :mode => mode }, :method => :get }, { :id => 'admin-notes' } )
&nbsp;|&nbsp;
= link_to_remote(t('clinical'), { :url => { :controller => "event_notes", :action => "index", :event_id => @event.id, :note_type => 'clinical', :mode => mode }, :method => :get }, { :id => 'clinical-notes' } )
&nbsp;|&nbsp;
= link_to_remote(t('brief'), { :url => { :controller => "event_notes", :action => "index", :event_id => @event.id, :note_type => 'brief', :mode => mode }, :method => :get }, { :id => 'brief-notes' } )
