
%h1 
  Question details: 
  =@question.text

%p
  %label Text: 
  =h @question.text

%p
  %label Help: 
  =h @question.help

%p
  %label Type: 
  =h @question.question_type.name

%p
  %label Condition: 
  =h @question.condition


= link_to 'Edit', edit_question_path(@question)
|
= link_to 'Back', questions_path
