%h1 New group

= error_messages_for :question_type

- form_for(@question_type) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Create"

= link_to 'Back', question_types_path



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>