
%h1 
  Question type details: 
  =@question_type.name

%p
  %b Name: 
  =h @question_type.name

%p
  %b Description: 
  =h @question_type.description

= link_to 'Edit', edit_question_type_path(@question_type)
|
= link_to 'Back', question_types_path
