
%h1 
  Question type details: 
  =h @question_type.name

%p
  %b Name: 
  =h @question_type.name

%p
  %b Description: 
  =h @question_type.description

%p
  %b Has answer set?
  =h @question_type.has_answer_set.to_s.capitalize

%p
  %b HTML Form Type: 
  =h @question_type.html_form_type

= link_to 'Edit', edit_question_type_path(@question_type)
|
= link_to 'Back', question_types_path
