-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:id => "clinicians"}
  %span{:class => 'vert'}
    = live_search('Search for an existing clinician', :search_field => 'clinicians_search', :results => 'existing_clinicians', :select => 'last_name')
  #existing_clinicians
    = render :partial => "events/clinician_show", :collection => @event.clinicians.reject(&:new_record?).collect{|c| c.secondary_entity.person_temp} 
  -# We only want to display this form for unsaved records (like if there is a validation failure).
  = render :partial => 'events/clinician', :collection => @event.clinicians.select(&:new_record?)
%p{:style => "clear: both;"}= add_clinician_link "Add a clinician"

