-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


- if @event.new_record?
  - f.fields_for(:clinician, @event.clinician, :builder => ExtendedFormBuilder) do |clinician_fields|
    - clinician_fields.fields_for(:active_secondary_entity, @event.clinician.active_secondary_entity, :builder => ExtendedFormBuilder) do |new_clinician|
      = render :partial => "clinicians/form", :locals => { :f => new_clinician, :entity_data => @event.clinician.active_secondary_entity, :rendering_pt => false }
- else
  %div{:id => 'clinicians-list'}
    = render :partial => "clinicians/index"

  %br
  = link_to_remote_redbox("New Clinician", :url => new_cmr_clinician_path(@event), :method => :get)
