%fieldset
  %legend 
    Contact Information
    %span{:id => 'contacts_info_hide', :onClick => "Element.hide('contacts'); Element.hide('contacts_info_hide'); Element.show('contacts_info_show'); return false;"} [Hide]
    %span{:id => 'contacts_info_show', :onClick => "Element.show('contacts'); Element.hide('contacts_info_show'); Element.show('contacts_info_hide'); return false;", :style => "display: none;"} [Show]

    %div{:id => "contacts"}
      - if @event.contacts.empty?
        %h3 No contacts have been recorded for this event
      - else
        = render :partial => "contact", :collection => @event.contacts

    %br{:style => "clear: both;"}
    %p= add_contact_link "Add a contact"
