- for @form_reference in @event.form_references
  - _form = @form_reference.form
  %div{ :id => "form_demographic_#{_form.id}" }
    - for element in _form.core_view_elements_container.children do
      - if element.name == tab
        = render_investigator_view(element, f)
        %br
