-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:class => 'diagnostic', :style => "clear: both;"}
  - new_or_existing = new_or_existing?(diagnostic)
  - prefix = event_prefix_for_multi_models(new_or_existing, "_diagnostic_attributes")
  - prefix_with_array = prefix + "[]"

  -if diagnostic.secondary_entity
    -diagnostic_facility = diagnostic.secondary_entity.place_temp
    -disallow_place_edit = ((new_or_existing == "existing") || (new_or_existing == "new" && !diagnostic_facility.entity_id.blank?))

    - fields_for(prefix_with_array, diagnostic_facility, :builder => ExtendedFormBuilder) do |diagnostic_fields|
      = hidden_field_tag("#{prefix}[#{diagnostic.id}][entity_id]", diagnostic_facility.entity_id)
      %span{:class => 'horiz'}
        =diagnostic_fields.label(:name)
        -if disallow_place_edit
          =h(diagnostic_facility.name)
        - else
          =diagnostic_fields.text_field(:name, :size => 25, :maxlength => 255,:class => 'required_if_others')
      %span{:class => 'horiz'}
        =diagnostic_fields.label(:place_type_id, 'Type')
        -if disallow_place_edit
          - if diagnostic_facility.place_type.blank?
            Unspecified
          - else
            = h(diagnostic_facility.place_type.code_description) 
        - else
          =diagnostic_fields.dropdown_code_field(:place_type_id, 'placetype')

      %label="&nbsp;"
      =link_to_function image_tag('delete.png', :border => 0), "$(this).up('.diagnostic').remove()", {:id => "remove_diagnostic_result_link"}
      %hr
