-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:class => 'diagnostic', :style => "clear: both;"}
  - new_or_existing = new_or_existing?(diagnostic)
  - prefix = event_prefix_for_multi_models(new_or_existing, "_diagnostic_attributes") + "[]"

  - fields_for(prefix, diagnostic, :builder => ExtendedFormBuilder) do |diagnostic_fields|
    %span{:class => "horiz"}
      = diagnostic_fields.label(:secondary_entity_id, "Diagnosing facility")
      / Currently diagnosing facilities are hospitals
      = diagnostic_fields.collection_select(:secondary_entity_id, Place.hospitals, :entity_id, :name, {:include_blank => true})

    %span{:class => "horiz", :style => "margin-top: 30px"}
      = link_to_function "Remove" , "$(this).up('.diagnostic').remove()", {:id => "remove_diagnostic_result_link"}
  %hr
