%span.section-header
  Notes

- if @event.notes.empty?
  %h3 No notes have been recorded for this event
- else
  - for note in @event.notes
    .three-valued-row
      .left
        %span.print-label User:
        %span.print-value= note.user.best_name
      .left
        %span.print-label Date note created:
        %span.print-value= note.created_at.strftime("%a, %b %d, %Y at %I:%M %p")

    %br
    %span.print-value
      - note_body = simple_format(note.note)
      - if note.struckthrough?
        %div{:id => "note_#{note.id}", :class => 'struck-through'}= note_body
      - else
        %div{:id => "note_#{note.id}"}= note_body
    %hr
