%fieldset.form
  %legend Place Exposures

  - unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.place_lead_in.blank?
    = h @event.disease.disease.place_lead_in
    %br
    %br

  -if @event.place_exposures.empty?
    %h3 No place exposures have been recorded for this event
  -else
    %table.tabular
      %tr
        %th Place Name
        %th Place Type
        %th Date of Exposure

      -@event.place_exposures.each do |pe|
        -place = pe.secondary_entity.place_temp
        %tr
          %td=h(place.name)
          %td=place.place_description
          %td=format_date(place.date_of_exposure)
        