%fieldset.form
  %legend Place Exposures

  - unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.place_lead_in.blank?
    = h @event.disease.disease.place_lead_in
    %br
    %br

  - core_element_show :places, event_form, :vert do

    -if @event.place_child_events.empty?
      %h3 No place exposures have been recorded for this event
    -else
      %table.list
        %tr
          %th Place Name
          %th Place Type
          %th Date of Exposure
          %th

        -@event.place_child_events.each do |pe|
          -place = pe.active_place.primary_entity.place_temp

          - if pe.deleted_at
            - style = {:class => 'struck-through'}
          - else
            - style = {}

          %tr
            %td{style}=h(place.name)
            %td{style}=place.place_description
            %td{style}=format_date(pe.active_place.participations_place.date_of_exposure)
            %td.tools
              =link_to("Edit place details", edit_place_event_path(pe), {:id => "edit-place-event"})
