-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the
-# terms of the GNU Affero General Public License as published by the
-# Free Software Foundation, either version 3 of the License,
-# or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but
-# WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-# This injects an existing place exposure into a form
-# Debt: Could be merged with _editable_place_exposure.html.haml

- place = place_show
- prefix_with_array = "morbidity_event[new_place_exposure_attributes][]"

%div.existing_place{:style => 'margin-top: 20px'}
  %span.horiz
    %label Name
    = h(place.name)
  %span.horiz
    %label Type
    = h(place.place_type.code_description) unless place.place_type.nil?

  -fields_for prefix_with_array, place_exposure, :builder => ExtendedFormBuilder do |p_form|
    = p_form.hidden_field(:entity_id, :value => place.entity_id)
  -fields_for prefix_with_array, place_exposure.participations_place, :builder => ExtendedFormBuilder do |pe_form|
    %span{:class => 'horiz'}
      =pe_form.label(:date_of_exposure)
      =pe_form.calendar_date_select(:date_of_exposure, :year_range => 5.years.ago..0.years.from_now)
    %span.horiz
      =pe_form.label('&nbsp;')
      = link_to_function image_tag('delete.png', :border => 0), "$(this).up('.existing_place').remove()", {:id => "remove_existing_place_link"}
  %hr