-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, 
-# or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of 
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License 
-# along with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
%legend Place Exposures

- unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.place_lead_in.blank?
  = h @event.disease.disease.place_lead_in
  %br
  %br

- core_element :places, f, :vert do
  %div{:id => 'place_exposures'}
    -place_exposures = (event.place_exposures.size > 0 ? event.place_exposures : [Participation.new_exposure_participation])
    =render :partial => 'events/editable_place_exposure', :collection => place_exposures, :locals => {:f => f, :event => event}
  %span{:style => "clear: both; padding-top: 20px"}
    =add_place_exposure_link "New Place Exposure"
