
%h1 
  Disease details: 
  =@disease.name

%p
  %label Name: 
  =h @disease.name

%p
  %label Program: 
  =h @disease.program.name if !@disease.program.nil?

= link_to 'Edit', edit_disease_path(@disease)
|
= link_to 'Back', diseases_path
