- @form_index = 0
- fields_for(setup_human_event_tree(@event), :builder => ExtendedFormBuilder) do |event_form|
  = render :partial => 'events/disease_investigation_form.html.haml', :locals => {:f => event_form }