%div{:id => "new-view-form"}

  %h3
    Add Tab

  = error_messages_for :view_element

  - remote_form_for(view_element) do |f|
    = render :partial => 'form', :locals => { :f => f }
    = f.submit "Create"
    &nbsp;&nbsp;
    = link_to_function "Close", "$('builder-mods').down('form').reset(); Effect.BlindUp($('builder-mods'), { duration: 0.1 })"
