
%h1 
  Section details: 
  =@section.name

%p
  %b Name: 
  =h @section.name

%p
  %b Form: 
  =h @section.form.name if !@section.form.nil?

= link_to 'Edit', edit_section_path(@section)
|
= link_to 'Back', sections_path