<% if User.column_names.include?("crypted_password") and User.current_user and User.current_user.password_expired? and URI(request.referrer).host != request.host %>
<script type="text/javascript">
function showPasswordExpiredPopup() {
  jQuery('.password-expired-popup').show();
  setTimeout("jQuery('.password-expired-popup').hide()", 30000);
}
jQuery(window).load(function() {
  setTimeout("showPasswordExpiredPopup()", 5000);
});
</script>
<div class="password-expired-popup" style="display:none">
  Your password has expired. Please, click <a href="/change_password">here</a> to change it.
</div>
<% end %>