.templates{:class => 'listInput'}
  - form_for(@staged_message, :html => { :name => 'new_staged_message' }) do |f|
    .hl7-input
      = f.error_messages
      = f.label :hl7_message, t('sample_hl7_message')
      = f.select :hl7_message, hl7_messages.sort{ |m, n| m[0].to_s <=> n[0].to_s }.map { |m| [ m[0].to_s.humanize, m[1] ] }
    = f.submit t('create')
