.templates{:class => 'textInput'}
  - form_for(@staged_message, :html => { :name => 'new_staged_message' }) do |f|
    %p
      = f.error_messages
      - f.object.hl7_message = "MSH|^~\&|TRISANO|TRISANO LABS^46D0523979^CLIA|UTDOH|UT|200903261645||ORU^R01|200903261645128667|P|2.3.1|1\r\nPID|1||17744418^^^^MR||SMOKER^STEVE||19840810|M||U^Unknown^HL70005|215 UNIVERSITY VLG^^SALT LAKE CITY^UT^84108^^M||^^PH^^^801^5854967|||||||||U^Unknown^HL70189\r\nOBR|1||09078102377|13954-3^Hepatitis Be Antigen^LN|||200903191011|||||||200903191011|BLOOD|^ROSENKOETTER^YUKI^K||||||200903191011|||F||||||9^Unknown\r\nOBX|1|ST|13954-3^Hepatitis Be Antigen^LN|1|Positive||Negative||||F|||200903210007"
      = f.label :hl7_message
      = f.text_area :hl7_message, :wrap => :off, :style => "height: 10em; width: 50em;"
    %p
      = f.submit t('create'), :disabled => true
