-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-content_for :title do
  =t 'search_for_staged_messages'

-content_for :tools do
  = link_to h(t('back_to', :name => t('staged_messages'))), staged_messages_path
  %p

-form_tag search_staged_messages_path, :method => :post do
  %span.vert
    =label_tag :last_name, t('last_name')
    =text_field_tag :last_name, params[:last_name]
  %span.horiz
    =label_tag :first_name, t('first_name')
    =text_field_tag :first_name, params[:first_name]
  %span.vert
    =label_tag :laboratory, t('laboratory')
    =text_field_tag :laboratory, params[:laboratory]
  %span.horiz
    =label_tag :test_type, t('test_type')
    =text_field_tag :test_type, params[:test_type]
  .vert
    =label_tag ct('collection_date_range')
    %span.vert
      =label_tag :start_date, t('start_date')
      =calendar_date_select_tag :start_date, params[:start_date]
    %span.horiz
      =label_tag :end_date, t('end_date')
      =calendar_date_select_tag :end_date, params[:end_date]
  %span.vert
    =label_tag "&nbsp;"
    =submit_tag t("search_normal_case"), :name => :do

%p.vert-break &nbsp;

-if defined? @staged_messages
  -if @staged_messages.empty?
    %strong= t 'no_staged_message_search_results'
  -else
    #rot
      %table.list
        =render @staged_messages
