.label {
  font-weight: bold;
  white-space: nowrap;
}

.hd {
  height: 36px;
  color: #B9B9A0;
  background-color: #3B3D9E;
  padding-left: 5px;
  padding-top: 15px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #FFB30F;
}

.hd .title {
  margin: 0;
}

#nav {
  float: left;
  height: 100%;
  padding-right: 10px;
  margin: 0;
}

#nav ul {
  text-decoration: none;
}

#nav li {
  list-style-type: none;
}

.bd {
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  overflow: hidden;
}

.highlight {
  color: green;
}


.title A:link {text-decoration: none; color: #B9B9A0}
.title A:visited {text-decoration: none; color: #B9B9A0}
.title A:active {text-decoration: none; color: #B9B9A0}
.title A:hover {text-decoration: none; color: #B9B9A0}
