.printable {
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 16px;
  width: 60%;
  border: solid 1px;
  padding: 1em;
  overflow: auto;
}

.printable .header {
  line-height: 60%;
}

.printable .header .left {
  float: left;
  width: 75%;
}

.printable .header .right {
  float: left;
  width: 25%;
}

.printable .sub-header {
  clear: both;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

.printable .sub-header .left {
  float: left;
  width: 43.5%;
  border: solid 1px;
  padding: 1em;
  margin-bottom: 10px;
}

.printable .sub-header .right {
  float: right;
  width: 43.5%;
  border: solid 1px;
  padding: 1em;
  margin-bottom: 10px;
}

.printable .section-header {
  clear: both;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2em;
  background: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.printable .subsection-header {
  clear: both;
  display: block;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 1em;
  background: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.printable .three-valued-row {
  clear: both;
}

.printable .three-valued-row .left {
  width: 33%;
  float: left;
}

.printable .three-valued-row .right {
  width: 33%;
  float: right;
}

.printable .three-valued-row .short {
  width: 20%;
  float: left;
}

.printable .three-valued-row .long {
  width: 40%;
  float: left;
}

.printable .three-valued-row .double {
  width: 66%;
  float: left;
}

.printable .three-valued-row .full {
  float: left;
}

.printable .print-label {}

.printable .print-value {
  font-weight: bold;
}
