#head {
  position: relative;
  height: 68px;
  background-color: #e5e5e5; }

#bar {
  position: relative;
  height: 60px;
  background: url(../images/repeat.gif);
  background-repeat: repeat-x; }

#left {
  position: absolute;
  top: 0px;
  left: 0px; }

#right {
  position: relative;
  align: right;
  text-align: right; }

#main {
  position: relative;
  margin-top: 10px; }
  #main .highlight {
    color: green; }
  #main .label {
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap; }
  #main .fill {
    font-family: arial;
    font-size: 12px;
    padding: 20px 20px 20px 20px; }
    #main .fill a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
      #main .fill a:hover {
        color: #fff;
        text-decoration: underline; }
      #main .fill a:visited {
        color: #fff;
        font-weight: normal; }
      #main .fill a:active {
        color: #fff;
        font-weight: normal; }

#nav_right {
  width: 130px;
  background-color: blue;
  color: #fff;
  float: right; }

#ft {
  font-size: x-small; }
