-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend 
    Clinical Information
    %span{:id => 'clinical_info_hide', :onClick => "Element.hide('clinical'); Element.hide('clinical_info_hide'); Element.show('clinical_info_show'); return false;"} [Hide]
    %span{:id => 'clinical_info_show', :onClick => "Element.show('clinical'); Element.hide('clinical_info_show'); Element.show('clinical_info_hide'); return false;", :style => "display: none;"} [Show]

  %div{ :id => 'clinical', :class => 'clinical', :style => "clear: both;"}
    =# Needed for the Ajax links on lab tab to work
    = hidden_field_tag('encounter_event_disease_event_attributes_disease_id', @event.try(:disease_event).disease_id)

    %label Disease:
    = @event.try(:disease_event).try(:disease).try(:disease_name)
    = render :partial => "events/treatments_edit", :locals => { :f => f, :event => @event }


