- form_for(@external_code, :builder => ExtendedFormBuilder) do |code_form|
  %table{:width => "50%"}
    %tr
      %td
        %span.label Code:
      %td= code_form.text_field :the_code
    %tr
      %td
        %span.label Description:
      %td= code_form.text_field :code_description
    %tr
      %td
        %span.label Code Type:
      %td= code_form.text_field :code_name
  = code_form.submit "Create"
