= render("external_codes/form", :code_form => code_form)
%span.vert-break
  %label Jurisdiction
  = code_form.select :jurisdiction_id, Place.jurisdictions.map{ |j| [j.name, j.id] }, {:prompt => 'Choose One'} 
