#export_options{:style => "display: none; width: 40%; position: relative"}
  %div{:style => 'background-color: #fff; border: solid 2px; padding: 15px; margin: 3px; border-color: #000'}
    %b=t 'data_export_size_message'
    %br
    = link_to_function t("close"), "Effect.SlideUp('export_options')"
