postgres_dir: /usr/local/pgsql/bin # Location of Postgres client
host: localhost # PostgreSQL host server 
port: 5432 # PostgreSQL TCP listen port 
environment: development # the name of the environment - corresponds to rails configuration
basicauth: false # whether HTTP basic auth should be on
database: trisano # Database name
priv_uname: trisano_admin # Database privileged username (used for upgrade db script)
priv_passwd: admin # Privileged user's password (used for upgrade db script)
trisano_uname: trisano_user # trisano application username (used by package app script)
trisano_user_passwd: user # trisano application user password (used by package app script)
min_runtimes: 2 # minimum number of trisano runtimes 
max_runtimes: 5 # maximum number of trisano runtimes 
runtime_timeout: 5 # number of seconds that web app thread should wait before generating HTTP 503 and informing user to try again
dump_file_name: # assumes dump file is in the ./dump directory - example trisano_production-09-25-2008-1123AM.dump
source_url: # the URL of the TriSano source code. Derivative works must set this per AGPL.
support_url: # the URL of the TriSano support page.
feedback_email: # the email for TriSano feedback
feedback_url: # the URL of the TriSano feedback page.
